.dashboar-wrapper {
  padding: 16px 20px 20px 20px;
  height: 78vh;

  .data-container {
    display: flex;
    gap: 20px;
    margin-top: 16px;
    height: 100%;

    .table {
      width: 65%;
      background: #4c5270;
      box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
      border-radius: 6px;
    }

    .chart {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35%;
      box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
      border-radius: 6px;
      background: #4c5270;
    }
  }
}

@media (max-width: 1023px) {
  .data-container {
    flex-direction: column;

    .table,
    .chart {
      width: 100% !important;
    }
  }

}
