.chart-wrapper {
  width: 100%;
  max-width: 500px; // Adjust max width as needed
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

}
.chart-heading {
  color: #f9f9f9;
}
canvas {
  width: 100% !important;
  height: auto !important;
}
