:host {
  --mat-paginator-container-background-color: transparent !important;

}

.table-container {
  padding: 0px 10px;

  .table-heading {
    color: #f9f9f9;
    padding: 0px 4px;
  }
}

table {
  border-collapse: separate;
  border-spacing: 4px 10px;
  background-color: transparent !important;

  tr {
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #007bff, #00c3ff);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #0056b3, #0097d1);
}

:host ::ng-deep {

  mat-paginator {
    * {
      color: #f9f9f9 !important;
    }
  }

  .mat-mdc-cell,
  .mat-mdc-header-row {
    color: #f9f9f9 !important;
    border: none !important;

  }
}
